<div class="row" style="margin-bottom: 20px;">

<div class="col-sm-6 col-md-3">

<div class="thumbnail">

    <image class="itemthumb" src="/images/banana.png"></image>
    <div class="caption">
        
        <h4>$0.15</h4>
        <h3>Banana (each)</h3>
        <a class="btn btn-primary">Add to Cart</a>

    </div>
</div>



</div>

<div class="col-sm-6 col-md-3">

<div class="thumbnail">

    <image class="itemthumb" src="/images/banana.png"></image>
    <div class="caption">
        
        <h4>$0.15</h4>
        <h3>Banana (each)</h3>
        <a class="btn btn-primary">Add to Cart</a>

    </div>
</div>



</div>

<div class="col-sm-6 col-md-3">

<div class="thumbnail">

    <image class="itemthumb" src="/images/banana.png"></image>
    <div class="caption">
        
        <h4>$0.15</h4>
        <h3>Banana (each)</h3>
        <a class="btn btn-primary">Add to Cart</a>

    </div>
</div>



</div>

<div class="col-sm-6 col-md-3">

<div class="thumbnail">

    <image class="itemthumb" src="/images/banana.png"></image>
    <div class="caption">
        
        <h4>$0.15</h4>
        <h3>Banana (each)</h3>
        <a class="btn btn-primary">Add to Cart</a>

    </div>
</div>



</div>


</div>

<div class="row" style="margin-bottom: 20px;">

<div class="col-sm-6 col-md-3">

<div class="thumbnail">

    <image class="itemthumb" src="/images/banana.png"></image>
    <div class="caption">
        
        <h4>$0.15</h4>
        <h3>Banana (each)</h3>
        <a class="btn btn-primary">Add to Cart</a>

    </div>
</div>



</div>

<div class="col-sm-6 col-md-3">

<div class="thumbnail">

    <image class="itemthumb" src="/images/banana.png"></image>
    <div class="caption">
        
        <h4>$0.15</h4>
        <h3>Banana (each)</h3>
        <a class="btn btn-primary">Add to Cart</a>

    </div>
</div>



</div>

<div class="col-sm-6 col-md-3">

<div class="thumbnail">

    <image class="itemthumb" src="/images/banana.png"></image>
    <div class="caption">
        
        <h4>$0.15</h4>
        <h3>Banana (each)</h3>
        <a class="btn btn-primary">Add to Cart</a>

    </div>
</div>



</div>

<div class="col-sm-6 col-md-3">

<div class="thumbnail">

    <image class="itemthumb" src="/images/banana.png"></image>
    <div class="caption">
        
        <h4>$0.15</h4>
        <h3>Banana (each)</h3>
        <a class="btn btn-primary">Add to Cart</a>

    </div>
</div>



</div>


</div>
<div class="row" style="margin-bottom: 20px;">

<div class="col-sm-6 col-md-3">

<div class="thumbnail">

    <image class="itemthumb" src="/images/banana.png"></image>
    <div class="caption">
        
        <h4>$0.15</h4>
        <h3>Banana (each)</h3>
        <a class="btn btn-primary">Add to Cart</a>

    </div>
</div>



</div>

<div class="col-sm-6 col-md-3">

<div class="thumbnail">

    <image class="itemthumb" src="/images/banana.png"></image>
    <div class="caption">
        
        <h4>$0.15</h4>
        <h3>Banana (each)</h3>
        <a class="btn btn-primary">Add to Cart</a>

    </div>
</div>



</div>

<div class="col-sm-6 col-md-3">

<div class="thumbnail">

    <image class="itemthumb" src="/images/banana.png"></image>
    <div class="caption">
        
        <h4>$0.15</h4>
        <h3>Banana (each)</h3>
        <a class="btn btn-primary">Add to Cart</a>

    </div>
</div>



</div>

<div class="col-sm-6 col-md-3">

<div class="thumbnail">

    <image class="itemthumb" src="/images/banana.png"></image>
    <div class="caption">
        
        <h4>$0.15</h4>
        <h3>Banana (each)</h3>
        <a class="btn btn-primary">Add to Cart</a>

    </div>
</div>



</div>


</div>